src/**
tests/**
scripts/**
docs/**
__mocks__/**
.vscode/**
.github/
node_modules/**
coverage/**
.serena/**
.headroom/**
.gitignore
.env
.env.*
package-lock.json
bun.lock
jest.config.js
tsconfig.json
bunfig.toml
eslint.config.mjs
.prettierrc
.DS_Store
out/**/*.map
